.marker {
    background-image: url(../../assets/images/icon-location.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    transform: translate(-50%, -50%);
}