@import '../../assets/styles/colors.scss';

section {
    display: flex;
    flex-direction: row;
    width: 60rem;
    padding: 2rem;
    border-radius: 1rem;
    z-index: 7;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    position: absolute;
    top: 17%;
    right: 50%;
    transform: translatex(50%);

    .ip-address, .location, .timezone {
        border-right: solid 1px lightgray;
        width: 30rem;
    }

    .location, .timezone, .isp {
        margin-left: 1rem;
    }

    article {
        padding: 1rem;
        p {
            color: $Dark-Gray;
            font-weight: 500;
            letter-spacing: 2px;
        }

        h2 {
            font-weight: 700;
        }
    }
}